body {
    background-image: url("paper.gif");
    background-color: rgb(110, 115, 117);
    text-align: center;
    position: sticky;
    padding-top: 200px;
    font-style: oblique
}
h1 {
    font-size:50 ; font-style: italic; color: rgb(189, 184, 184); -webkit-text-stroke: 1px black
}
div {
    font-size: 100
}
#pass{
    font-size:20; color: white; border: 1.8px solid rgb(153, 144, 144); background-color: rgb(138, 133, 133)
}
div {
    font-size: 20
}
#user{
    font-size:20; color:  white;border: 1.8px solid rgb(153, 144, 144); background-color: rgb(138, 133, 133)
}

#button{
    border: 1.8px solid rgb(129, 126, 126);
    background-color: rgb(107, 111, 114);
    color: black;
    font-size: 18px;
    cursor: pointer;
}

a {
    color:rgb(32, 28, 28)
}