body {

    background-color: rgb(78, 66, 66);
    text-align: center;
    position: sticky;
    padding-top: 200px;
    font-style: oblique
}
h1 {
    font-size:50 ; font-style: italic; color: rgb(122, 34, 12); -webkit-text-stroke: 1px black;
    -webkit-text-stroke: 1px black;
}
div {
    font-size: 100
}
#pass{
    font-size:20; color: rgb(75, 64, 64); border: 1.8px solid rgb(44, 37, 37); background-color: rgb(61, 49, 46)
}
div {
    font-size: 20
}
#user{
    font-size:20; color:  rgb(75, 64, 64);border: 1.8px solid rgb(44, 37, 37); background-color:  rgb(61, 49, 46)
}
#button{
    border: 1.5px solid rgb(32, 23, 23);
    background-color: rgb(43, 35, 35);
    color: black;
    font-size: 18px;
    cursor: pointer;
}

a {
    color:rgb(32, 28, 28)
}