{% load static %}
<html>
    <head>
        <title>login.page</title>
        <link rel = "stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    
    <body>
        <h1>Login Page</h1>
        <form>
            <div>Username:</div> 
            <input id="user" type= "text" name = "user name">
            <br>
            <div>Password:</div>
            <input id="pass" type = "text" name = "password">
            <br><br>
            
            <button onclick="location.href = '//www.youtube.com/watch';" id="button" >Submit</button>
            
        </form>
    </body>

        {% comment %} <script>
        function myFunction(){
            location.replace("https://www.youtube.com/watch?v=zrXOjWICmGw")
        }
        </script> {% endcomment %}
    <a href="#">Register!</a><br>    
    <a href="#">Forgot password?</a>
</html>