{% load static %}
<html>
    <head>
        <title>Register</title>
        <link rel = "stylesheet" type = "text/css" href="{% static 'styles/regis.css' %}"/>
    </head>
    <body>
        <h1>Register</h1>
        <h2>Fill your details below to Register</h2>
        <form>
                <div>Full Name:</div> 
                <input id="name" type= "text" name = "Full Name">
                <br>
                <div>Username:</div> 
                <input id="user" type= "text" name = "User name">
                <br>
                <div>Email:</div>
                <input id="email" type = "text" name = "email">
                <br><br>
                
                <button onclick="location.href = '//www.youtube.com/watch';" id="button" >Submit</button>
                
        </form>
    </body>
