body {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg");
    /* background-color: rgb(110, 115, 117); */
    text-align: center;
    position: sticky;
    padding-top: 100px;
    font-style: oblique;
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
    width: 100%;
    height: 100%;
}
h1 {
    font-size:50 ; font-style: italic; color: rgb(218, 171, 230); -webkit-text-stroke: 1px black
}
div {
    font-size: 20; opacity: 10 ; color: rgb(158, 79, 167) 
}
#pass{
    font-size:10; width: 50%; color: white; border: 1.8px solid rgb(153, 144, 144); background-color: rgb(195, 189, 189)
}

#user{
    font-size:20; color:  white;width: 50%; border: 1.8px solid rgb(153, 144, 144); background-color: rgb(195, 189, 189)
}

#button{
    border: 1.8px solid rgb(129, 126, 126);
    background-color: rgb(160, 164, 167);
    color: rgb(74, 25, 78);
    font-size: 18px;
    cursor: pointer;
}

a {
    color:rgb(32, 28, 28)
}